## Visual Studio / VS Code
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## .NET
project.lock.json
project.fragment.lock.json
artifacts/

## Rider
.idea/

## User-specific
*.rsuser
